body {
    background-color: rgb(214, 175, 127);
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(197, 97, 30);
    display: flex;
}

.nav-text {
    margin-left: 40%;
    display: flex;
    align-items: center;
}

.nav-text h1 {
    letter-spacing: 5px;
}

#logo {
    width: 150px;
    height: 80px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 10px;
}

.main-part {
    display: flex;
    align-items: center;
    text-align: center;
}

.left-side {
    width: 60%;
    margin-left: 10px;
}

.right-side {
    width: 40%;
}


.start-button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    margin-top: 50px;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.start-button:hover,
.start-button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.start-button:hover {
    transform: translateY(-1px);
}

.start-button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 600px;
    height: 600px;
}

td {
    width: 120px;
    height: 100px;
}

td button {
    width: 100px;
    height: 100px;
    padding: 0;
    border: none;
    margin: 0;
    cursor: pointer;
    transition: transform 0.2s ease;
}

td button:hover {
    transform: scale(1.1);
}

td .button:active {
    transform: scale(0.9);
}

td img {
    width: 100%;
    height: 100%;
    display: block;
}

aside {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1, section	h2 {
    margin: 0;
}

aside h2 {
    font-size: 40px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameScore {
    text-align: center;
}

#refreshButton {
    margin: 20px auto; /* Adjust the margin as needed */
}

button [id^="logo"] {
    width: 75px;
    height: 75px;
    object-fit: contain;

}
table {
    border-spacing: 30px;
}

.inputVelden > * {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #E91E63;
	background: rgba(#c46887, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #E91E63;
}